
.subscribe-button {
    background-color: #c80000;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    padding: 10px 16px;
    transition: opacity 150ms;
    vertical-align: top;
}

.subscribe-button:hover{
    opacity: 0.8;
}
.subscribe-button:active{
    opacity: 0.4;
}

.join-button {
    background-color: white;
    border-color: #2976d3;
    border-style: solid;
    border-width: 1px;
    color: #2976d3;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 16px;

    transition: background-color 150ms,
    color 150ms;
}

.join-button:hover{
    background-color: #2976d3;
    color: white;
}

.join-button:active{
    opacity: 0.7;
}

.tweet-button {
    background-color: #029eff;
    border: none;
    color: white;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 150ms;
    vertical-align: top;
}

.tweet-button:hover{
    box-shadow: 1px 3px 10px rgba(0,0,0,0.15);
}